* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu a,
.logout {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.menu a.active {
  background-color: #c7a8f3;
  color: white;
}

.menu a img,
.logout img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.logout {
  margin-top: auto;
  cursor: pointer;
}

/* MAIN AREA */
.main {
  flex: 1;
  overflow-y: auto;
  background-image: url('/images/Peta/bg-peta.png');
  background-size: cover;
  background-position: center;
}

/* HEADER */
.main-header {
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.top-right-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-button {
  background-color: #7c4dff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.profile-image {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

/* PETA TITLE */
.peta-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 32px 32px 32px;
}

/* MAP CONTAINER */
.peta-container {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jalur {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;
  min-height: 140px;
}

.bintang {
  width: 64px;
  height: auto;
  margin-bottom: 1rem;
}

.level p {
  color: white;
  font-size: 14px;
  line-height: 1.5rem;
}

.line {
  width: 130px;
  height: 2px;
  border-top: 2px dashed white;
  padding: 1.5rem;
}

.line2 {
  width: 130px;
  height: 2px;
  border-top: 2px dashed white;
  padding: 1.5rem;
}

.line-vertical {
  width: 2px;
  height: 60px;
  border-left: 2px dashed white;
  margin: 2rem 0;
  align-self: flex-start;
  margin-left: 62rem;
}

/* Level 5 */
.popup5-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup5-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border-radius: 25px;
  padding: 2rem;
  max-width: 980px;
  width: 70%;
  height: 400px;
  color: white;
  position: relative;
}

.close5-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup5-flex {
  display: flex;
  gap: 2rem;
}

.popup5-character img {
  max-width: 280px;
  height: auto;
  margin-top: -45px;
}

.popup5-info h2 {
  color: #f6ac32;
  margin-top: 10px;
}

.popup5-info p {
  line-height: 1.6;
  margin-top: 15px;
}

.quest5-label {
  color: #f6ac32;
  font-weight: bold;
  margin-top: 80px;
}

.quest5-box {
  background: #6a46d1;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.quest5-box:hover {
  background: #7a5bd8;
}

.quest5-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quest5-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.quest5-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #eaeaea;
}

.quest5-xp {
  background: #f6ac32;
  padding: 0.4rem 1rem;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
}
/* FORM JADWAL */
/* Container */
.popup51-jadwal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Content */
.popup51-jadwal-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 2rem;
  max-width: 1000px;
  width: 90%;
  height: 370px;
  color: white;
  position: relative;
}

/* Close Button */
.close51-popup-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Heading & Paragraph */
.popup51-jadwal-content h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #f4a825;
  margin-bottom: 0.2rem;
}
.popup51-jadwal-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  padding-top: 0.1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

/* Form Elements */
.popup51-jadwal-content label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.popup51-jadwal-content select,
.popup51-jadwal-content input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Tombol Upload File */
.upload51-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 2rem;
  border: 1.5px solid #a472f5;
  border-radius: 10px;
  font-weight: 500;
  color: #a472f5;
  cursor: pointer;
  margin-top: -2rem;
  transition: background 0.2s ease;
  background-color: transparent;
  width: fit-content;
  max-width: 300px;
  white-space: nowrap;
}
.upload51-btn:hover {
  background: rgba(164, 114, 245, 0.1);
}
.upload51-btn input[type="file"] {
  display: none;
}

/* Submit Button */
.submit51-btn {
  margin-top: -2rem;
  background-color: #b095e4;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}
.submit51-btn:hover {
  background-color: #977dd3;
}

/* Popup Kedua */
.popup52-submit-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup52-submit-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 2rem;
  max-width: 1000px;
  width: 90%;
  height: auto;
  color: white;
  position: relative;
}

/* Tombol Close */
.close52-popup {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Judul dan Deskripsi */
.popup52-judul-content h2 {
  color: #f4af3d;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.popup52-judul-content p {
  font-size: 1rem;
  margin-bottom: 2.3rem;
  line-height: 1.6;
}

/* Tombol Upload File */
.upload52-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 2rem;
  border: 1.5px solid #a472f5;
  border-radius: 10px;
  font-weight: 500;
  color: #a472f5;
  cursor: pointer;
  margin-top: -0.5rem;
  transition: background 0.2s ease;
  background-color: transparent;
  width: fit-content;
  max-width: 500px;
  white-space: nowrap;
}

.upload52-btn:hover {
  background: rgba(164, 114, 245, 0.1);
}

.upload52-btn input[type="file"] {
  display: none;
}

/* Tombol Kirim */
#submit52-submit {
  margin-top: 2rem;
  background-color: #b095e4;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin-left: auto;
}

#submit52-submit:hover {
  background-color: #977dd3;
}

/* QUEST ALERT 9*/
/* Container */
.quest-alert9 {
  position: fixed;
  top: 70px;
  right: -400px; /* awalnya di luar layar */
  width: 330px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert9 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert9.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert9.hide {
  right: -400px;
  opacity: 0;
}


/* QUEST ALERT 10*/
/* Container */
.quest-alert10 {
  position: fixed;
  top: 130px;
  right: -400px; /* awalnya di luar layar */
  width: 250px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert10 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert10.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert10.hide {
  right: -500px;
  opacity: 0;
}

/* Container */
.quest-alert91 {
  position: fixed;
  top: 70px;
  right: -400px; /* awalnya di luar layar */
  width: 350px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert91 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert91.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert91.hide {
  right: -400px;
  opacity: 0;
}

/* Level 69 */
.popup69-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup69-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border-radius: 25px;
  padding: 2rem;
  max-width: 980px;
  width: 70%;
  height: 400px;
  color: white;
  position: relative;
}

.close69-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup69-flex {
  display: flex;
  gap: 2rem;
}

.popup69-character img {
  max-width: 230px;
  height: auto;
  margin-top: -40px;
}

.popup69-info h2 {
  color: #f6ac32;
  margin-top: 10px;
}

.popup69-info p {
  line-height: 1.6;
  margin-top: 15px;
}

.quest69-label {
  color: #f6ac32;
  font-weight: bold;
  margin-top: 80px;
}

.quest69-box {
  background: #6a46d1;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.quest69-box:hover {
  background: #7a5bd8;
}

.quest69-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quest69-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.quest69-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #eaeaea;
}

.quest69-xp {
  background: #f6ac32;
  padding: 0.4rem 1rem;
  border-radius: 24px;
  font-weight: bold;
  color: #fff;
}

/* Banyak Bimbingan2 */
.popup691-bimbingan-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

/* Popup Box */
.popup691-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 2rem;
  max-width: 1000px;
  width: 90%;
  height: 300px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Close Button */
.close691-popup-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Judul */
.popup691-content h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #f4a825;
  margin-bottom: 0.5rem;
}

/* Deskripsi */
.popup691-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* Progress Box as Button */
.progress-box {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: white;
  font: inherit;
  border: none; /* hilangkan border default tombol */
  outline: none;
}

.progress-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Icon (emoji atau image) */
.progress-icon {
  font-size: 1.8rem;
  margin-right: 1rem;
}

/* Teks penjelas progress */
.progress-text {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
}

/* Jumlah progress */
.progress-count {
  font-size: 1rem;
  font-weight: bold;
}

/* QUEST ALERT 691*/
/* Container */
.quest-alert691 {
  position: fixed;
  top: 70px;
  right: -400px; /* awalnya di luar layar */
  width: 350px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert691 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert691.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert691.hide {
  right: -400px;
  opacity: 0;
}

/* QUEST ALERT 692*/
/* Container */
.quest-alert692 {
  position: fixed;
  top: 130px;
  right: -400px; /* awalnya di luar layar */
  width: 250px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert692 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert692.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert692.hide {
  right: -500px;
  opacity: 0;
}

/* Level 10 */
.popup10-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup10-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border-radius: 25px;
  padding: 2rem;
  max-width: 980px;
  width: 70%;
  height: 400px;
  color: white;
  position: relative;
}

.close10-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup10-flex {
  display: flex;
  gap: 2rem;
}

.popup10-character img {
  max-width: 250px;
  height: auto;
  margin-top: -40px;
}

.popup10-info h2 {
  color: #f6ac32;
  margin-top: 10px;
}

.popup10-info p {
  line-height: 1.6;
  margin-top: 15px;
}

.quest10-label {
  color: #f6ac32;
  font-weight: bold;
  margin-top: 80px;
}

.quest10-box {
  background: #6a46d1;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.quest10-box:hover {
  background: #7a5bd8;
}

.quest10-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quest10-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.quest10-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #eaeaea;
}

.quest10-xp {
  background: #f6ac32;
  padding: 0.4rem 1rem;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
}

/* FORM JADWAL SIDANG SKRIPSI */
/* Container */
.popup101-jadwal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Content */
.popup101-jadwal-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 2rem;
  max-width: 1000px;
  width: 90%;
  height: 370px;
  color: white;
  position: relative;
}

/* Close Button */
.close101-popup-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Heading & Paragraph */
.popup101-jadwal-content h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #f4a825;
  margin-bottom: 0.2rem;
}
.popup101-jadwal-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  padding-top: 0.1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

/* Form Elements */
.popup101-jadwal-content label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.popup101-jadwal-content select,
.popup101-jadwal-content input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Tombol Upload File */
.upload101-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 2rem;
  border: 1.5px solid #a472f5;
  border-radius: 10px;
  font-weight: 500;
  color: #a472f5;
  cursor: pointer;
  margin-top: -2rem;
  transition: background 0.2s ease;
  background-color: transparent;
  width: fit-content;
  max-width: 300px;
  white-space: nowrap;
}
.upload101-btn:hover {
  background: rgba(164, 114, 245, 0.1);
}
.upload101-btn input[type="file"] {
  display: none;
}

/* Submit Button */
.submit101-btn {
  margin-top: -2rem;
  background-color: #b095e4;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}
.submit101-btn:hover {
  background-color: #977dd3;
}

/* Popup Kedua */
.popup102-submit-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup102-submit-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 2rem;
  max-width: 1000px;
  width: 90%;
  height: auto;
  color: white;
  position: relative;
}

/* Tombol Close */
.close102-popup {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Judul dan Deskripsi */
.popup102-judul-content h2 {
  color: #f4af3d;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.popup102-judul-content p {
  font-size: 1rem;
  margin-bottom: 2.3rem;
  line-height: 1.6;
}

/* Tombol Upload File */
.upload102-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 2rem;
  border: 1.5px solid #a472f5;
  border-radius: 10px;
  font-weight: 500;
  color: #a472f5;
  cursor: pointer;
  margin-top: -0.5rem;
  transition: background 0.2s ease;
  background-color: transparent;
  width: fit-content;
  max-width: 500px;
  white-space: nowrap;
}

.upload102-btn:hover {
  background: rgba(164, 114, 245, 0.1);
}

.upload102-btn input[type="file"] {
  display: none;
}

/* Tombol Kirim */
#submit102-submit {
  margin-top: 2rem;
  background-color: #b095e4;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin-left: auto;
}

#submit102-submit:hover {
  background-color: #977dd3;
}

/* QUEST ALERT 101*/
/* Container */
.quest-alert101 {
  position: fixed;
  top: 70px;
  right: -400px; /* awalnya di luar layar */
  width: 350px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert101 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert101.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert101.hide {
  right: -400px;
  opacity: 0;
}

/* Container */
.quest-alert102 {
  position: fixed;
  top: 70px;
  right: -400px; /* awalnya di luar layar */
  width: 330px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert102 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert102.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert102.hide {
  right: -400px;
  opacity: 0;
}

/* Container */
.quest-alert103 {
  position: fixed;
  top: 130px;
  right: -400px; /* awalnya di luar layar */
  width: 250px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 0 0 20px;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  color: #000;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s ease;
}

/* XP Highlight */
.quest-alert103 span {
  font-weight: 600;
  color: #7a4de3;
}

/* Class untuk tampil */
.quest-alert103.show {
  right: 20px;
  opacity: 1;
}

/* Class untuk sembunyi */
.quest-alert103.hide {
  right: -500px;
  opacity: 0;
}

/* Level END */
.popup12-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup12-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border-radius: 25px;
  padding: 2rem;
  max-width: 980px;
  width: 70%;
  height: 400px;
  color: white;
  position: relative;
}

.close12-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup12-flex {
  display: flex;
  gap: 2rem;
}

.popup12-character img {
  max-width: 250px;
  height: auto;
  margin-top: -25px;
}

.popup12-info h2 {
  color: #f6ac32;
  margin-top: 10px;
}

.popup12-info p {
  line-height: 1.6;
  margin-top: 15px;
}

.quest12-label {
  color: #f6ac32;
  font-weight: bold;
  margin-top: 80px;
}

.quest12-box {
  background: #6a46d1;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.quest12-box:hover {
  background: #7a5bd8;
}

.quest12-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quest12-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.quest12-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #eaeaea;
}

.quest12-xp {
  background: #f6ac32;
  padding: 0.4rem 1rem;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
}

/* FORM SUBMIT RITUS AKADEMIK */
/* Container */
.popup121-jadwal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Content */
.popup121-jadwal-content {
  background: rgba(245, 243, 243, 0.363);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 2rem;
  max-width: 1000px;
  width: 90%;
  height: 440px;
  color: white;
  position: relative;
}

/* Close Button */
.close121-popup-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Heading & Paragraph */
.popup121-jadwal-content h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #f4a825;
  margin-bottom: 0.2rem;
}
.popup121-jadwal-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  padding-top: 0.1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

/* Form Elements */
.popup121-jadwal-content label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.popup121-jadwal-content select,
.popup121-jadwal-content input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Tombol Upload File */
.upload121-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 2rem;
  border: 1.5px solid #a472f5;
  border-radius: 10px;
  font-weight: 500;
  color: #a472f5;
  cursor: pointer;
  margin-top: -2rem;
  transition: background 0.2s ease;
  background-color: transparent;
  width: fit-content;
  max-width: 300px;
  white-space: nowrap;
}
.upload121-btn:hover {
  background: rgba(164, 114, 245, 0.1);
}
.upload121-btn input[type="file"] {
  display: none;
}

/* Submit Button */
.submit121-btn {
  margin-top: -2rem;
  background-color: #b095e4;
  color: white;
  border: none;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}
.submit121-btn:hover {
  background-color: #977dd3;
}

/* Overlay belakang */
.quest-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* latar gelap */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

/* Gambar */
.quest-img {
  width: 700px; /* sesuaikan ukuran */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -400px;
  opacity: 0;
}

/* Animasi */
@keyframes imgSlideInOut {
  0% {
    left: -400px;
    opacity: 0;
  }
  20% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  80% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    left: 120%;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.quest-img.animate {
  animation: imgSlideInOut 5s ease-in-out forwards;
}
