* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 100vh;
  background: url('/images/Login_Register/bg-login1.png') center/cover no-repeat;
  position: relative;
}

.login-image::after {
  content: "";
  background: url('/images/Login_Register/k-bima-login.png') bottom center / contain no-repeat;
  position: absolute;
  bottom: 14%;
  right: 33%;
  width: 250px;
  height: 100%;
  pointer-events: none;
}
