* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.portal-bg {
  width: 100vw;
  height: 100vh;
  background: url('/images/Login_Register/bg-efek1.png') center center / cover no-repeat;
}
